<div class="modal">
  <h1>categories</h1>
  <a href="#" class="close"></a>
  <form action="#" class="form" id="add-category-form">
    <input
      type="text"
      name="category-description"
      id="category-description"
      placeholder="category description"
    />
    <button>add category</button>
  </form>
  <ul class="basic-list" id="category-list">
    <li>
      <p>
        utilities
      </p>
      <a href="#" class="close"></a>
    </li>
    <li>
      <p>
        food
      </p>
      <a href="#" class="close"></a>
    </li>
    <li>
      <p>
        transportation
      </p>
      <a href="#" class="close"></a>
    </li>
    <li>
      <p>
        leisure
      </p>
      <a href="#" class="close"></a>
    </li>
  </ul>
</div>
