<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>

  <body>
    <div class="header">
      <h1><a href="/">stuffs</a></h1>
    </div>
    <div class="main-window">
      <div class="function-row">
        <button class="ui button" id="add-stuff-toggle">add stuff</button>
        <button class="ui button" id="categories-toggle">
          manage categories
        </button>
      </div>
      <div class="forms">
       {% include 'addstuff.html' %}
      </div>
      <div class="modal-container" id="modal-container">
        {% include "categorymodal.html" %}
      </div>
      <!-- <div class="summary-row">
        <div class="summary">
          <h1>PHP 7,600</h1>
          <p>total expenses this month</p>
        </div>
        <div class="summary">
          <h1>utilities</h1>
          <p>you spent most on</p>
        </div>
      </div> -->
      <table class="stuffs">
        <thead>
          <tr>
            <th>description</th>
            <th>cost</th>
            <th>category</th>
            <th>date</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
